@import './mixin'

html, body 
  background-color #eee
  
body
  padding-top 40px    

.container > footer p 
  text-align center     

.container 
  width 820px      

.content 
  background-color #fff
  padding 20px
  margin 0 -20px   
  border-radius(0 0 6px 6px)
  border-shadow(0 1px 2px rgba(0,0,0,.15))

.page-header 
  background-color #f5f5f5
  padding 20px 20px 10px
  margin -20px -20px 20px

.drop-area
  background-color #fff
  padding 20px
  margin 10px 0   
  min-height 200px
  border dashed 3px rgba(0,0,0,0.3)
  border-radius(6px)
  border-shadow(0 1px 2px rgba(0,0,0,.15))


